@import "../../../../assets/styles/components/page/buttons";
@import "../../../../assets/styles/components/page/pixeled-image";
@import "../../../../assets/styles/definitions/units";

.language-selector {
  &__wrapper {
    position: relative;
    display: inline-block;
  }
}

.language-selector-toggler {
  &__wrapper {
    background-color: #444;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  &__toggler {
  }

  &__image {
    @include pixelArtImage();

    &--open {
      transform: rotate(180deg);
    }
  }
}

.language-selector-dropdown {
  &__wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    border: 1px solid #ccc;
    width: 150px;
    z-index: 10;
  }

  &__item {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      background-color: #555;
    }
  }

  &__flag {
    margin-right: $px-16;
  }
}
