$color-white: white;
$color-black: black;

$color-background: #757161;
$color-primary-1: #854c30;

$color-primary-22: #FF4500;
$color-primary-2: #d27d2c;
$color-primary-21: #FFA500;

$color-primary-3: #dad45e;
$color-primary-3-30: #B0AC58;
$color-secondary-1: #4e4a4e;

$color-error-1: #d9534f;
$color-success-1: #5cb85c;

$color-bar-bg-red: #d04648;
$color-bar-border-red: #442434;

$color-border: $color-black;
