$px-64: 4rem;
$px-48: 3rem;
$px-32: 2rem;
$px-24: 1.5rem;
$px-22: 1.375rem;
$px-20: 1.25rem;
$px-16: 1rem;
$px-15: 0.938rem;
$px-14: 0.875rem;
$px-12: 0.75rem;
$px-10: 0.625rem;
$px-8: 0.5rem;
$px-5: 0.313rem;
$px-4: 0.25rem;
$px-3: 0.188rem;
$px-2: 0.125rem;
$px-1: 0.063rem;
