@import '../../../definitions/colors';
@import '../../../definitions/units';

.input-checkbox {
  &__wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: $px-8;
    margin-top: $px-8;
  }

  &__input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: $px-20;
    height: $px-20;
    border-radius: 0;
    cursor: pointer;
    position: relative;
    border: $px-3 solid black;
    background-color: $color-white;
    color: $color-white;
    font-weight: 600;
    font-size: $px-24;
    padding: $px-8;
    font-family: inherit;
    margin: 0;

    &--invalid {
      border-color: $color-error-validation-1-border;
    }

    &:checked {
      background-color: $color-primary-2;

      &::after {
        content: '';
        position: absolute;
        left: $px-4;
        top: $px-2;
        width: $px-4;
        height: $px-8;
        border: solid white;
        border-width: 0 $px-3 $px-3 0;
        transform: rotate(45deg);
      }
    }
  }

  &__label {
    color: $color-primary-3;
  }
}

